.HeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metLogoContainer {
    position: absolute;
    height: 40px;
    top: 0;
    border-radius: 50px;
    background-color: #ffffff;
    margin: 5px;
}

.metLogoContainer>img {
    height: 100%;
    color: #ffffff;
    padding: 8px;
}


.HeaderContainer>h1 {
    height: 5rem;
    background-color: var(--met-red-dark);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
}

.HeaderImgContainer {
    height: 45vh;
    margin-bottom: 3%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 55px
}

.HeaderImgContainer>p {
    font-size: 4.4rem;
    font-weight: 820;
    letter-spacing: 0.5rem;
    /* color: var(--met-red); */
    color: #ffffff;
    padding: 0 0 6rem 6%
}