.HeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeaderImgContainer {
    height: 45vh;
    margin-top: 6rem;
    margin-bottom: 3%;
    background-position: 50% 45%;
    background-size: 105%;
    display: flex;
    align-items: center;
    /* filter: brightness(50%); */
    /* margin: 0 55px; */
}

.HeaderImgContainer>p {
    font-size: 4.4rem;
    font-weight: 700;
    /* color: var(--met-red-dark); */
    color: #ffffff;
    padding: 0 0 6rem 6%;
}