.listItem {
    border-radius: 10px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #ddd;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.listItem:hover {
    transform: scale(1.1);
}

.imageWrapper {
    width: 100%;
    height: 86%;
    border-radius: 10px 10px 0 0;
}

.imgSmall {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.infoWrapper {
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 5px;
}

.cardArtist {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.cardTitle {
    font-size: 1.3rem;
    padding: 0 0.3rem 0.3rem 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}