.searchWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: #ffffff;
    border: none;
    height: 4rem;
    font-size: 2rem;
    width: 40rem;
    border-radius: 7px;
    padding: 0 20px;
    box-shadow: 0px 0px 8px #ddd;
}

input:focus {
    outline: none;
}

.loaderContainer {
    position: absolute;
    left: 46%;
    margin-top: 2rem;
}