.searchWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 40rem;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 7px;
    margin: 4rem auto;
    padding: 0 15px;
}

input {
    background-color: #ffffff;
    border: none;
    height: 4rem;
    font-size: 2rem;
    width: 90%;
}

input:focus {
    outline: none;
}

.searchButton {
    background-color: #ffffff;
    width: 2.1rem;
    border-style: none;
    cursor: pointer;
}

.lensImg {
    width: 100%;
}

.loaderContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2rem;
}