@font-face {
    font-family: 'Manrope';
    src: url("../src/assets/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("../src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'ArchivoNarrow';
    src: url("../src/assets/fonts/ArchivoNarrow-VariableFont_wght.ttf");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'ArchivoNarrow', Arial, sans-serif;
    letter-spacing: 0.07rem;
    font-weight: 200;
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: #efefef;
}